@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

/* Light/Dark theme configuration */
:root {
    --color-primary: 41 41 41; /* light mode primary color */
    --color-secondary: 228 226 221; /* light mode secondary color */
}

.dark {
    --color-primary: 228 226 221; /* dark mode primary color (light mode secondary color) */
    --color-secondary: 41 41 41; /* dark mode secondary color (light mode primary color) */
}

    /* Candle Chart styled scrollbar */
/* TODO: Custom scrollbar not working on firefox */

::-webkit-scrollbar {
    -webkit-overflow-scrolling: auto;

    width: 0.5vw;
    height: 0.5vw;
/* Need scrollbar thumb width to be Xpx, so had to define whole scrollbar to be Xpx wide.*/
}

::-webkit-scrollbar-thumb {
    background: rgb(var(--color-primary));
}

::-webkit-scrollbar-track {
    background: rgb(var(--color-primary));
    border: 0.2vw solid transparent; /* 3px */
    background-clip: padding-box;
}


.direction-rtl {
    direction: rtl;
}

.direction-ltr {
    direction: ltr;
}

.container {
    font-family: "aileron", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 375px;
    height: 375px;
}

@media (min-width: 1200px) {
    .container {
        width: 831px;
        height: 831px;
    }
}

@media (min-width: 1900px) {
    .container {
        width: 970px;
        height: 970px;
    }
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
